@media only screen and (max-width: 1200px) {
  .rule_main_container{
    padding: 0.5rem;
    font-size: 1rem;
  }

}

@media only screen and (max-width: 600px) {
  .rule_main_container{
    padding: 0.5rem;
    font-size: 0.5rem;
  }

  .quiz_btn{
    font-size: 0.8rem;
    margin-left: 1rem;
  }

}

