@import './css/media.css';
@import './css/result.css';
@import './css/rule.css';
@import './css/question.css';

:root{
  --center-background: rgb(244, 253, 234);
  --category-background: rgb(255, 245, 252);
  --popular-background: rgb(240, 248, 255);
  --border-color: rgb(211, 211, 211);
  --white-color: rgb(255, 255, 255);
  --rule-background: rgb(254, 255, 240);
  --question-background: rgb(243, 240, 255);
  --result-background: rgb(240, 240, 240);
}

body{
  min-height: 100vh;
}

.navigation_main_container{
  border: none;
}

.fa{
  font-size: 2.5rem;
}

.brand_nav_links{
  font-size: 1.2rem;
  margin-left: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.main{
  min-height: 100vh;
}

.center_section{
  display: flex;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
  background-color: var(--center-background);
}

.center_section_content{
  align-items: center;
  justify-content: center;
}

.center_section_content h1{
  font-size: 6rem;
}

.center_section_content h2{
  font-size: 1.5rem;
}

.center_section_illustration{
  margin: 2rem;
}

.center_section_illustration img{
  border-radius: 2rem;
  width: 100%;
  height: 150%;
  object-fit: cover;
}

.container{
  text-align: center;
  margin: 2rem 5rem;
  padding: 3rem 0;
}

.category_item{
  position: relative;
}

.category_item img{
  border-radius: 1rem;
  width: 80%;
}

.overlap_content{
  position: absolute;
  color: var(--white-color);
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.popular_container{
  background-color: var(--popular-background);
}

.btn{
  margin: 1rem;
}

.category_container{
  background-color: var(--category-background);
}

.popular_container h1{
  font-size: 2rem;
}

.popular_item_container, .category_main_container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 3rem;
  row-gap: 1rem;
}

.item img{
  width: 100%;
}

.item{
  border: 1px solid var(--border-color);
  margin: 2rem;
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
  max-width: 30rem;
}

.footer_container{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-top: 1px solid var(--border-color);
  text-align: center;


}

.footer_container img{
  width: 3rem;
  margin: 0.5rem;
}

.footer_container a{
  text-decoration: none;
}

@media only screen and (max-width: 1200px) {
  .center_section_content h1{
    font-size: 3rem;
  }
  
  .center_section_content h2{
    font-size: 1.5rem;
  }  

}

@media only screen and (max-width: 600px) {
  
  .profile_icon{
    display: block;
  }
  .fa{
    font-size: 1rem;
  }

  .popular_container, .category_container ,.popular_item_container, .category_main_container{
    margin: 1rem 0;
    padding: 0.2rem;
  }

  .center_section_content h1{
    font-size: 1rem;
  }
  
  .center_section_content h2{
    font-size: 0.7rem;
  }

  .center_section_illustration{
    margin: 0.5rem;
  }

  .center_section_content{
    width: 30rem;
  }

  .category_item img{
    width: 100%;
  }

  .category_item{
    margin-bottom: 1rem;
  }

  .footer_container img{
    width: 1.4rem;
  }
  
}


